<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkout</title>
</head>
<body>
<a href=" {{i}}"><b> <input type="button" style="background-color:black;color:white;width:150px;
height:40px;" value="go back to home">    </b></a>
<pre><img src="media/images/shoemen2.jpg" alt="Trulli"width="700" height="400" ><h1>black leather shoes:-
    size-xy
    price-700
    <input type="button" style="background-color:black;color:white;width:150px;
height:40px;" value="add to the cart">

</pre>
</body>
</html>