<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="red">
<div style="width:1500px;height:60px; background-color:yellow; ">
<marquee behavior="scroll"><pre><i><font color="black"><b>latest collections available now</font>  <b>!!login for more......</b> </pre>
</marquee></div>
<img src="media/images/main.jpg" alt="Flowers in Chania" width="1500" height="300">
<h1><fontcolor="red"> checkout the latest:-</font></fontcolor></h1>
<a href="http://127.0.0.1:8000/category "><b><input type="button" style="background-color:black;color:white;width:150px;
height:40px;" value="Categories"></b></a>
</body>
</html>